html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(12, 12, 12);
  color: rgb(238, 238, 238);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --light-grey: rgb(202, 202, 202);
}
.wrapper {
  max-width: 1024px;
  margin: auto;
  padding: 0 1rem;
}